

body,.container{
    /*background: #cbcbcb;*/
}


.container > div{
    background:white;
}

button{
    border-radius: 10px;
    background: #4285f4;
    color: white;
    padding: 10px;
    border: none;
    font-size: 2em;
    cursor: pointer;
    width: 150px;
}

button a{
    text-decoration: none;
    color:white;
}

button a:hover{
    text-decoration: none;
    color: white;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group #file{
    border: 2px solid #4285f4;
    border-radius: 10px;
    font-size: 2em;
    padding-right: 15px;
    text-align: center;
    margin: auto;
}

.form-group #file::-webkit-file-upload-button{
    background: #4285f4;
    color: white;
    border-radius: 8px;
    font-family: 'Slabo 27px', serif;
    border: none;
}

.form-group #go{
    width: 150px;
    height: 70px;
    background: #4285f4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    /*border-radius: 1000px;*/
    margin-top: 30px;
    cursor: pointer;
    border: none;
}
