*{
    font-family: 'Slabo 27px', serif;
    outline: none;
    max-width: 100%;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.form .container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group #file{
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 2em;
}

.form-group #file::-webkit-file-upload-button{
    background: purple;
    color: white;
    border-radius: 8px;
    font-family: 'Slabo 27px', serif;
    border: none;
}

.form-group #go{
    width: 100px;
    height: 100px;
    background: purple;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border-radius: 1000px;
    margin-top: 30px;
    cursor: pointer;
    border: none;
}

footer .container{
    height: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ddd;
    margin-bottom: 100px;
}

.control {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: white;
    box-shadow: 0 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.control > div{
    display: flex;
}

.control > div > *{
    margin: 0 10px;
}

select{
    font-size: 2em;
}

button{
    border-radius: 10px;
    background: deepskyblue;
    color: white;
    padding: 10px;
    border: none;
    font-size: 2em;
    cursor: pointer;
}

.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.active{
    display: flex;
}

.loading{
    width: 80px;
    height: 80px;
    border-radius: 1000px;
    border: 4px solid lightskyblue;
    border-top: 4px solid darkblue;
    animation: 1s rotate infinite linear;
}

@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}